{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}My Orders{% endblock %}</title>
    <link rel='shortcut icon' href="{% static "img/favicon.ico" %}" type='image/x-icon' />
    <link rel="stylesheet" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" href="{% static "css/kendoui/kendo.common.min.css" %}">
    <link rel="stylesheet" href="{% static "css/kendoui/kendo.uniform.min.css" %}">
    <link rel="stylesheet" href="{% static "css/base/base.css" %}">
    {% block style %}{% endblock %}
    <script src="{% static "js/kendoui/jquery.min.js" %}"></script>
    <script src="{% static "js/kendoui/kendo.all.min.js" %}"></script>
    <script src="{% static "js/kendoui/cultures/kendo.culture.ru-RU.min.js" %}"></script>
    <script src="{% static "js/noty/jquery.noty.js" %}"></script>
    <script src="{% static "js/noty/layouts/top.js" %}"></script>
    <script src="{% static "js/noty/layouts/topCenter.js" %}"></script>
    <script src="{% static "js/noty/themes/default.js" %}"></script>
    <script src="{% static "js/base/base.js" %}"></script>

    {% block script %}{% endblock %}
</head>
<body>
    {% block header%}
    <header>
        <div id="logo"></div>
        <div id="line_top" class="hr_line"></div>
    </header>
    {% endblock %}

    <div id="content">
    {% block content %}

    {% endblock %}
    </div>

    {% block footer %}
    <footer>
        <div id="line_bottom" class="hr_line"></div>
        <span id="copyright">&#169;2014 My Orders</span>
    </footer>
    {% endblock %}

    <script type="text/javascript">

    </script>
</body>
</html>