{% extends "base/base.html" %}
{% load static from staticfiles %}
{% block title %}My Orders - Главная страница{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static "css/main/main.css" %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block script %}
    <script src="{% static "js/main/main.js" %}"></script>
{% endblock %}
    {% block header%}
    <header>
        <div id="logo"></div>
        <div id="line_top" class="hr_line"></div>
    </header>
    {% endblock %}
{% block content %}
        Its work!
{% endblock %}